<mat-toolbar color="primary">
  <span>Vending Machine</span>
  <span class="spanmiddle"></span>
  <span>
    <button mat-button (click)="completeTransaction()">Complete Transaction</button>
  </span>
</mat-toolbar>

<div class="container-fluid">
  <div class="container">
    <mat-card>
      <mat-card-subtitle>
        Add money by tapping on the denominations:
      </mat-card-subtitle>
      <mat-card-content>
        <span>
            <button mat-button color='primary' (click)="addCoin(5)">KSH 5</button>
            <button mat-button color='primary' (click)="addCoin(10)">KSH 10</button>
            <button mat-button color='primary' (click)="addCoin(20)">KSH 20</button>
            <button mat-button color='primary' (click)="addCoin(40)">KSH 40</button>
        </span>
        <span class="spanmiddle"></span>
        <span>
           Available balance in KES: {{initialAmount}} 
        </span>
      </mat-card-content>
    </mat-card>
    <br>
    
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price (ksh)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of vendorItems">
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>
              <button class="btn btn-sm btn-success" (click)="makePurchase(item.price, item.name)">Purchase</button>
            </td>
          </tr>
        </tbody>
      </table>

  </div>
</div>
